
{% extends 'app/base.html' %}

{% block title %} Register{% endblock title %}
{% load crispy_forms_tags %}

{% block page_content %}

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<h2 >Register</h2>
    <div class="container">
		{{form|crispy}}
    {% if messages %}
    <ul class="message list">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}
	<button type="submit" class="btn btn-dark">Submit</button>
	</div>
</form>
{% endblock page_content %}
